<!--
<p>Available MIDI outputs:</p>
<ul id="midi-list"></ul>
<button (click)="stopChord()">Stop</button-->

<svg
  xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:ns1="http://sozi.baierouge.fr"
  xmlns:cc="http://web.resource.org/cc/"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
  style="fill-rule:evenodd;text-rendering:geometricPrecision;image-rendering:optimizeQuality;clip-rule:evenodd;shape-rendering:geometricPrecision"
  xml:space="preserve"
  viewBox="0 0 10654 3465"
>
  <defs>
    <style type="text/css">
      .fil0 {fill:#E6E6E6}
      .fil1 {fill:#2B2A29;fill-rule:nonzero}
      .heavy { font: bold 200px sans-serif; text-anchor: middle; dominant-baseline: central;}
      text {
        pointer-events: none;
      }
    </style>
  </defs>
  <g id="Layer_x0020_1">
    <g id="_240909448">
      <rect
        (pointerdown)="keyDown('KeyQ')"
        (pointerup)="keyUp('KeyQ')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="716"
        x="1005"
        class="fil0"
      />
      <text x="1304" y="1015" class="heavy">{{ getChordName('KeyQ') }}</text>
      <rect
        (pointerdown)="keyDown('KeyW')"
        (pointerup)="keyUp('KeyW')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="716"
        x="1736"
        class="fil0"
      />
      <text x="2035" y="1015" class="heavy">{{ getChordName('KeyW') }}</text>
      <rect
        (pointerdown)="keyDown('KeyE')"
        (pointerup)="keyUp('KeyE')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="716"
        x="2468"
        class="fil0"
      />
      <text x="2767" y="1015" class="heavy">{{ getChordName('KeyE') }}</text>
      <rect
        (pointerdown)="keyDown('KeyR')"
        (pointerup)="keyUp('KeyR')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="716"
        x="3199"
        class="fil0"
      />
      <text x="3465" y="1015" class="heavy">{{ getChordName('KeyR') }}</text>
      <rect
        (pointerdown)="keyDown('KeyT')"
        (pointerup)="keyUp('KeyT')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="716"
        x="3931"
        class="fil0"
      />
      <text x="4230" y="1015" class="heavy">{{ getChordName('KeyT') }}</text>
      <rect
        (pointerdown)="keyDown('KeyY')"
        (pointerup)="keyUp('KeyY')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="716"
        x="4662"
        class="fil0"
      />
      <text x="4921" y="1015" class="heavy">{{ getChordName('KeyY') }}</text>
      <rect
        (pointerdown)="keyDown('KeyU')"
        (pointerup)="keyUp('KeyU')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="716"
        x="5394"
        class="fil0"
      />
      <text x="5693" y="1015" class="heavy">{{ getChordName('KeyU') }}</text>
      <rect
        (pointerdown)="keyDown('KeyI')"
        (pointerup)="keyUp('KeyI')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="716"
        x="6125"
        class="fil0"
      />
      <text x="6424" y="1015" class="heavy">{{ getChordName('KeyI') }}</text>
      <rect
        (pointerdown)="keyDown('KeyO')"
        (pointerup)="keyUp('KeyO')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="716"
        x="6857"
        class="fil0"
      />
      <text x="7156" y="1015" class="heavy">{{ getChordName('KeyO') }}</text>
      <rect
        (pointerdown)="keyDown('KeyP')"
        (pointerup)="keyUp('KeyP')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="716"
        x="7588"
        class="fil0"
      />
      <text x="7887" y="1015" class="heavy">{{ getChordName('KeyP') }}</text>
      <rect
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="716"
        x="9052"
        class="fil0"
      />

      <rect
        (pointerdown)="keyDown('KeyQ')"
        (pointerup)="keyUp('KeyQ')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="716"
        x="8320"
        class="fil0"
      />

      <rect
        (pointerdown)="keyDown('KeyA')"
        (pointerup)="keyUp('KeyA')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="1432"
        x="1222"
        class="fil0"
      />
      <text x="1521" y="1731" class="heavy">{{ getChordName('KeyA') }}</text>
      <rect
        (pointerdown)="keyDown('KeyS')"
        (pointerup)="keyUp('KeyS')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="1432"
        x="1954"
        class="fil0"
      />
      <text x="2253" y="1731" class="heavy">{{ getChordName('KeyS') }}</text>
      <rect
        (pointerdown)="keyDown('KeyD')"
        (pointerup)="keyUp('KeyD')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="1432"
        x="2685"
        class="fil0"
      />
      <text x="2984" y="1731" class="heavy">{{ getChordName('KeyD') }}</text>
      <rect
        (pointerdown)="keyDown('KeyF')"
        (pointerup)="keyUp('KeyF')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="1432"
        x="3417"
        class="fil0"
      />
      <text x="3716" y="1731" class="heavy">{{ getChordName('KeyF') }}</text>
      <rect
        (pointerdown)="keyDown('KeyG')"
        (pointerup)="keyUp('KeyG')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="1432"
        x="4148"
        class="fil0"
      />
      <text x="4447" y="1731" class="heavy">{{ getChordName('KeyG') }}</text>
      <rect
        (pointerdown)="keyDown('KeyH')"
        (pointerup)="keyUp('KeyH')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="1432"
        x="4880"
        class="fil0"
      />
      <text x="5179" y="1731" class="heavy">{{ getChordName('KeyH') }}</text>
      <rect
        (pointerdown)="keyDown('KeyJ')"
        (pointerup)="keyUp('KeyJ')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="1432"
        x="5611"
        class="fil0"
      />
      <text x="5910" y="1731" class="heavy">{{ getChordName('KeyJ') }}</text>
      <rect
        (pointerdown)="keyDown('KeyK')"
        (pointerup)="keyUp('KeyK')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="1432"
        x="6343"
        class="fil0"
      />
      <text x="6642" y="1731" class="heavy">{{ getChordName('KeyK') }}</text>
      <rect
        (pointerdown)="keyDown('KeyL')"
        (pointerup)="keyUp('KeyL')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="1432"
        x="7074"
        class="fil0"
      />
      <text x="7373" y="1731" class="heavy">{{ getChordName('KeyL') }}</text>

      <!-- SEMICOLON should go here -->
      <rect
        (pointerdown)="keyDown('Semicolon')"
        (pointerup)="keyUp('')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="1432"
        x="7806"
        class="fil0"
      />
      <text x="8105" y="1731" class="heavy">
        {{ getChordName('Semicolon') }}
      </text>
      <rect
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="1432"
        x="8537"
        class="fil0"
      />
      <rect
        (pointerdown)="keyDown('KeyZ')"
        (pointerup)="keyUp('KeyZ')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="2154"
        x="1420"
        class="fil0"
      />
      <text x="1716" y="2453" class="heavy">{{ getChordName('KeyZ') }}</text>
      <rect
        (pointerdown)="keyDown('KeyX')"
        (pointerup)="keyUp('KeyX')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="2154"
        x="2152"
        class="fil0"
      />
      <text x="2451" y="2453" class="heavy">{{ getChordName('KeyX') }}</text>
      <rect
        (pointerdown)="keyDown('KeyC')"
        (pointerup)="keyUp('KeyC')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="2154"
        x="2883"
        class="fil0"
      />
      <text x="3182" y="2453" class="heavy">{{ getChordName('KeyC') }}</text>
      <rect
        (pointerdown)="keyDown('KeyV')"
        (pointerup)="keyUp('KeyV')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="2154"
        x="3615"
        class="fil0"
      />
      <text x="3914" y="2453" class="heavy">{{ getChordName('KeyV') }}</text>
      <rect
        (pointerdown)="keyDown('KeyB')"
        (pointerup)="keyUp('KeyB')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="2154"
        x="4346"
        class="fil0"
      />
      <text x="4645" y="2453" class="heavy">{{ getChordName('KeyB') }}</text>
      <rect
        (pointerdown)="keyDown('KeyN')"
        (pointerup)="keyUp('KeyN')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="2154"
        x="5078"
        class="fil0"
      />
      <text x="5377" y="2453" class="heavy">{{ getChordName('KeyN') }}</text>
      <rect
        (pointerdown)="keyDown('KeyM')"
        (pointerup)="keyUp('KeyM')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="2154"
        x="5809"
        class="fil0"
      />
      <text x="6108" y="2453" class="heavy">{{ getChordName('KeyM') }}</text>

      <rect
        (pointerdown)="keyDown('Comma')"
        (pointerup)="keyUp('Comma')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="2154"
        x="6541"
        class="fil0"
      />
      <text x="6840" y="2453" class="heavy">{{ getChordName('Comma') }}</text>
      <rect
        (pointerdown)="keyDown('Period')"
        (pointerup)="keyUp('Period')"
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="2154"
        x="7272"
        class="fil0"
      />
      <text x="7571" y="2453" class="heavy">{{ getChordName('Period') }}</text>
      <rect
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="2154"
        x="8004"
        class="fil0"
      />
      <path
        class="fil0"
        d="m9833 716h772c27 0 49 22 49 49v499c0 27-22 49-49 49h-772c-27 0-49-22-49-49v-499c0-27 22-49 49-49z"
      />
      <path
        class="fil0"
        d="m9318 1432h1287c27 0 49 22 49 49v499c0 27-22 49-49 49h-1287c-27 0-49-22-49-49v-499c0-27 22-49 49-49z"
      />
      <path
        class="fil0"
        d="m8785 2154h1820c27 0 49 22 49 49v499c0 27-22 49-49 49h-1820c-27 0-49-22-49-49v-499c0-27 22-49 49-49z"
      />
      <path
        class="fil0"
        d="m49 716h772c27 0 49 22 49 49v499c0 27-22 49-49 49h-772c-27 0-49-22-49-49v-499c0-27 22-49 49-49z"
      />
      <path
        class="fil0"
        d="m49 1432h990c27 0 49 22 49 49v499c0 27-22 49-49 49h-990c-27 0-49-22-49-49v-499c0-27 22-49 49-49z"
      />
      <path
        class="fil0"
        d="m49 2154h1188c27 0 49 22 49 49v499c0 27-22 49-49 49h-1188c-27 0-49-22-49-49v-499c0-27 22-49 49-49z"
      />
      <path
        class="fil0"
        d="m49 2867h772c27 0 49 22 49 49v499c0 27-22 49-49 49h-772c-27 0-49-22-49-49v-499c0-27 22-49 49-49z"
      />
      <rect
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="2867"
        x="1005"
        class="fil0"
      />
      <path
        class="fil0"
        d="m1786 2867h772c27 0 49 22 49 49v499c0 27-22 49-49 49h-772c-27 0-49-22-49-49v-499c0-27 22-49 49-49z"
      />
      <rect
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="2867"
        x="10056"
        class="fil0"
      />
      <path
        class="fil0"
        d="m2791 2867h4665c27 0 49 22 49 49v499c0 27-22 49-49 49h-4665c-27 0-49-22-49-49v-499c0-27 22-49 49-49z"
      />
      <text x="5123" y="3166" class="heavy">Stop</text>
      <path
        class="fil0"
        d="m9101 2867h772c27 0 49 22 49 49v499c0 27-22 49-49 49h-772c-27 0-49-22-49-49v-499c0-27 22-49 49-49z"
      />
      <rect
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="2867"
        x="8320"
        class="fil0"
      />
      <rect
        rx="49"
        ry="49"
        height="598"
        width="598"
        y="2867"
        x="7588"
        class="fil0"
      />

      <rect width="598" rx="49" class="fil0" ry="49" height="598" />
      <rect rx="49" ry="49" height="598" width="598" x="732" class="fil0" />
      <rect rx="49" ry="49" height="598" width="598" x="1463" class="fil0" />
      <rect rx="49" ry="49" height="598" width="598" x="2195" class="fil0" />
      <rect rx="49" ry="49" height="598" width="598" x="2926" class="fil0" />
      <rect rx="49" ry="49" height="598" width="598" x="3658" class="fil0" />
      <rect rx="49" ry="49" height="598" width="598" x="4389" class="fil0" />
      <rect rx="49" ry="49" height="598" width="598" x="5121" class="fil0" />
      <rect rx="49" ry="49" height="598" width="598" x="5852" class="fil0" />
      <rect rx="49" ry="49" height="598" width="598" x="6584" class="fil0" />
      <rect rx="49" ry="49" height="598" width="598" x="7315" class="fil0" />
      <rect rx="49" ry="49" height="598" width="598" x="8047" class="fil0" />
      <rect rx="49" ry="49" height="598" width="598" x="8778" class="fil0" />
      <path
        class="fil0"
        d="m9559 0h1046c27 0 49 22 49 49v499c0 27-22 49-49 49h-1046c-27 0-49-22-49-49v-499c0-27 22-49 49-49z"
      />
    </g>
  </g>
</svg>
